---
import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import Text from '../components/ui/Text.astro'
import H2 from '../components/ui/H2.astro'
---

<Layout>
  <Content bg='white'>
    <H1>Ceník a informace</H1>
    <table class='w-full md:w-[50%] [&_td]:h-10 [&_tr]:first:[&_td]:border-b-1 border-b-primary'>
      <tbody>
        <tr>
          <td>Individuální sezení</td>
          <td>50 minut</td>
          <td class='text-right'><strong>1 500 Kč</strong></td>
        </tr>
        <tr>
          <td>Individuální sezení</td>
          <td>90 minut</td>
          <td class='text-right'><strong>1 800 Kč</strong></td>
        </tr>
      </tbody>
    </table>
    <div class='mt-4'>
      <Text class='text-left'> Setkání lze realizovat i online a kombinovat jej s osobním setkáváním. </Text>
      <Text class='text-left'>
        <strong>Nepracuji ve smluvním vztahu se zdravotními pojišťovnami, veškerou péči si hradí klient sám.</strong> Některé
        pojišťovny nabízejí preventivní programy duševního zdraví, v rámci kterých je možné žádat o příspěvek na psychoterapii.
        Doporučuji se informovat přímo u své pojišťovny.
      </Text>
    </div>
  </Content>
  <Content bg='light'>
    <H2>Podmínky sezení a storno poplatky</H2>
    <Text>
      Platbu je možné uhradit v hotovosti na konci sezení nebo převodem na účet pomocí <strong>QR kódu</strong>. Pokud musíte sezení z
      jakéhokoli důvodu zrušit, můžete tak učinit bezplatně 24 hodin před naplánovaným sezením.
      V&nbsp;případě pozdějšího zrušení konzultace je účtován storno poplatek v plné výši sezení. ​Předcházím tím blokování nevyužitých termínů
      klientům, kteří na termín čekají. Děkuji za pochopení.
    </Text>
  </Content>
</Layout>
