---
import Content from '../components/ui/Content.astro'
import Layout from '../layouts/Layout.astro'

import ContactForm from '../components/ContactForm.astro'
import HowItWorksCard from '../components/HowItWorksCard.astro'
import IssueCard from '../components/IssueCard.astro'
import H1 from '../components/ui/H1.astro'
import H2 from '../components/ui/H2.astro'
import LinkButton from '../components/ui/LinkButton.astro'
import Text from '../components/ui/Text.astro'
---

<Layout>
  <header class=''>
    <Content bg='transparent' rowClass='main-bg'>
      <div class='flex justify-between items-center md:flex-row flex-col gap-8'>
        <div>
          <H1>Mgr. Kateřina Taranzová</H1>
          <Text>Psycholožka ve zdravotnictví,<br /> kognitivně-behaviorální terapeutka</Text>
          <div class='flex gap-3 mb-8'>
            <span class='px-2 py-1 rounded-full bg-[#dcbd98] text-sm font-bold border border-content/30'>Praha</span>
            <span class='px-2 py-1 rounded-full bg-[#dcbd98] text-sm font-bold border border-content/30'
              >Odkudkoliv online</span
            >
          </div>
          <div class='flex gap-4 flex-col md:flex-row'>
            <LinkButton href='/#kontakt' theme='primary'>Kontaktujte mě</LinkButton>
            <LinkButton href='/o-mne' theme='secondary'>Více o mně</LinkButton>
          </div>
        </div>
        <img
          src='/img/main.webp'
          alt='Kateřina Taranzová'
          class='rounded-2xl w-[320px] object-cover shadow-md border-4 border-content-dark'
        />
      </div>
    </Content>
  </header>
  <main>
    <Content bg='dark' id='s-cim-pomohu'>
      <H2>S čím se na mě můžete obrátit</H2>
      <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 auto-rows-[200px] md:auto-rows-[250px]'>
        <IssueCard icon='1-relationship'>
          <span slot='front'
            ><strong class='text-lg block leading-[1.4rem]! mb-2'>Vztahové obtíže</strong>rodinné, partnerské, přátelské
            či jiné vztahy</span
          >
          <span slot='back'>
            <Text class='text-left leading-[1.2rem]!'>
              <i>„Nedaří se mi ve vztazích a nevím proč/vím proč, ale jsem bezradný/á, co s tím nic dělat."</i>
            </Text>
          </span>
        </IssueCard>
        <IssueCard icon='2-trust-intimacy'>
          <span slot='front'
            ><strong class='text-lg block leading-[1.4rem]!'>Obtíže s blízkostí nebo důvěrou, s osamělostí</strong
            ></span
          >

          <div slot='back'>
            <ul class='text-sm issue-list'>
              <li><i>„Dlouho mi trvá, než si někoho pustím k tělu.“</i></li>
              <li><i>„Mám tendence oversharovat, a pak si přijdu blbě.“</i></li>
            </ul>
          </div>
        </IssueCard>
        <IssueCard icon='3-depression'>
          <span slot='front'><strong class='text-lg block leading-[1.4rem]!'>Úzkosti, deprese</strong></span>
          <div slot='back'>
            <ul class='text-sm issue-list'>
              <li>
                <i>„Asi mám úzkosti. Nevím ale, co s nimi, ani odkud pochází.“</i>
              </li>
              <li><i>„Mám pořád hrozný strach a nevím proč.“</i></li>
              <li>
                <i>„Poslední roky mě nic netěší, jsem hrozně unavený/á a roztěkaný/á.“</i>
              </li>
            </ul>
          </div>
        </IssueCard>
        <IssueCard icon='4-social-phobia'>
          <span slot='front'
            ><strong class='text-lg block leading-[1.4rem]!'>Sociální úzkosti, sociální fobie, specifické fobie</strong
            ></span
          >
          <div slot='back'>
            <ul class='text-sm issue-list'>
              <li>
                <i>„Radši nikam moc nechodím, abych se neznemožnil/a.“</i>
              </li>
              <li><i>„Bojím se jezdit MHD.“</i></li>
            </ul>
          </div>
        </IssueCard>
        <IssueCard icon='5-emotions'>
          <span slot='front'><strong class='text-lg block leading-[1.4rem]!'>Emoční obtíže</strong></span>
          <div slot='back'>
            <ul class='text-sm text-center issue-list'>
              <li>
                <i
                  >„Poslední dobou se chovám jinak, jsem hrozně vzteklý/á. Vždycky jsem to uměl/a maskovat, ale teď to
                  nejde“</i
                >
              </li>
              <li>
                <i>„Prožívám všechno hrozně intenzivně, jsem přecitlivělý/á“.</i>
              </li>
              <li><i>„Necítím nic, je to děsivé.“</i></li>
            </ul>
          </div>
        </IssueCard>
        <IssueCard icon='6-low-self-esteem'>
          <span slot='front'
            ><strong class='text-lg block leading-[1.4rem]!'>Nejistota, nízké sebevědomí nebo pochybnosti o sobě</strong
            ></span
          >
          <div slot='back'>
            <Text class='text-left leading-[1.2rem]!'>
              <i>„Někdy se nemůžu rozhodnout ani, co nakoupit, mám úplnou paralýzu.“</i>
            </Text>
          </div>
        </IssueCard>
        <IssueCard icon='7-procrastination'>
          <span slot='front'><strong class='text-lg block leading-[1.4rem]!'>Prokrastinace</strong></span>
          <div slot='back'>
            <ul class='text-sm text-center issue-list'>
              <li><i>„Nemůžu dokončit školu/práci/cokoliv.“</i></li>
              <li>
                <i>„Na ToDo listu mám 317236362 položek, co bych měl/a udělat a stejně nedělám nic.“</i>
              </li>
              <li><i>„Necítím nic, je to děsivé.“</i></li>
            </ul>
          </div>
        </IssueCard>
        <IssueCard icon='8-life-ups-and-downs'>
          <span slot='front'><strong class='text-lg block leading-[1.4rem]!'>Náročné životní situace</strong></span>
          <div slot='back'>
            <Text class='text-left leading-[1.2rem]!'
              >Následky traumatu či životní ztráty (úmrtí, rozchod, náhlé změny)</Text
            >
          </div>
        </IssueCard>
        <div class='md:flex items-center justify-center hidden'>
          <Text class='text-lg'><strong>A další ...</strong></Text>
        </div>
      </div>
      <Text class='mt-8'>
        Pracuji i s těmi, kteří si potřebují <i>„prostě promluvit“</i>, protože je trápí <i
          >„ani neví co, a možná je to blbost“</i
        >. Každý, kdo se potýká s něčím, co narušuje jeho psychickou pohodu v běžném životě, zde může najít bezpečný
        prostor k porozumění a změně.
      </Text>
    </Content>
    <Content bg='light' id='jak-to-probiha'>
      <H2>Jak to probíhá</H2>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-6'>
        <HowItWorksCard heading='První setkání' order={1}>
          <Text>
            Společně si domluvíme první úvodní setkání, na kterém si ujasníme základní rámec spolupráce – jak pracuji,
            podmínky setkávání apod.
          </Text>
          <Text>
            Pokud se bude zdát, že Vám můj přístup a způsob práce vyhovuje (a je vhodný pro řešení právě Vašich obtíží),
            stanovíme si další termín setkání. Pokud <i>„si to nesedne“</i>, je to v pořádku, v případě zájmu se pokusím
            pomoci s hledání někoho/něčeho vhodnějšího pro Vás.
          </Text>
        </HowItWorksCard>
        <HowItWorksCard heading='Úvodní posouzení' order={2}>
          <Text>
            Budu se ptát na Vaše obtíže, které Vás do terapie přivedly, jak se ohledně nich cítíte aj. Také se budu
            ptát, co byste chtěli a potřebovali změnit. Pokud to nebude zkraje zcela jasné, je to v pořádku, na tom lze
            společně pracovat a ujasnit si to v průběhu.
          </Text>
          <Text>
            Spolu se dohodneme se na frekvenci setkávání. Terapie se zpočátku konají jednou týdně, maximálně jednou za
            14 dní. Pravidelnost docházení je důležitá pro progres v terapii.
          </Text>
        </HowItWorksCard>
        <HowItWorksCard heading='Průběh setkávání' order={3}>
          <Text>
            Jakmile je dosaženo určitého pokroku, délka mezi jednotlivými terapiemi se postupně prodlužuje
            (např. nejprve se setkáváme jednou za dva týdny, poté jednou za tři týdny, jednou měsíčně a déle.), nebo se
            dohodneme na ukončení terapie.
          </Text>
          <Text>Vše se samozřejmě odvíjí i od potřeb a možností klienta, zakázku a cíle průběžně revidujeme.</Text>
          <Text>Ukončení spolupráce probíhá po vzájemné dohodě.</Text>
        </HowItWorksCard>
      </div>
    </Content>
    <Content bg='dark' id='kontakt'>
      <div>
        <H2>Kontakt</H2>
        <div class='md:max-w-[600px] max-w-full mx-auto'>
          <div class='my-6'>
            <Text class='text-center'
              >Kontaktovat mě můžete pomocí kontaktního formuláře nebo na e-mail. <br />
              <strong>Odpovídám obvykle do&nbsp;48&nbsp;hodin.</strong>
            </Text>
            <div class='flex justify-center mt-8'>
              <LinkButton
                class='inline-block max-w-full bg-primary text-white mx-auto hover:bg-primary/90'
                theme='primary'
                href='mailto:katerina.taranzova@gmail.com'>
                <span class='flex gap-2 justify-center'>
                  <img src='/icons/mail-white.svg' alt='E-mail' class='w-[20px]' />
                  Napište mi e-mail
                </span>
              </LinkButton>
            </div>
          </div>
          <ContactForm />
        </div>
      </div>
    </Content>
    <Content bg='light'>
      <H2>Kde se můžeme setkat</H2>
      <div class='flex flex-col items-center'>
        <div class='text-center mb-4'>
          <strong>Na adrese:</strong>
          <Text class='mb-0 text-center'>Myslíkova 1998/30, 110 00 Praha – Nové Město</Text>
        </div>
        <img
          src='/img/map.webp'
          alt='Mapa'
          class='w-full md:max-w-[600px] rounded-2xl border-4 border-content-light shadow-md'
        />
      </div>
    </Content>
  </main>
</Layout>
