---
import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import Text from '../components/ui/Text.astro'
---

<Layout>
  <Content bg='white'>
    <H1>Co je KBT terapie</H1>
    <Text
      >Ve své psychoterapeutické praxi vycházím především z přístupu kognitivně-behaviorální terapie. Tento směr nabízí
      srozumitelný a strukturovaný rámec, který pomáhá společně hledat cesty k porozumění obtížím i k jejich postupnému
      zvládání. Vztah mezi terapeutem a klientem je založen na partnerské spolupráci, důvěře a společném úsilí.</Text
    >
    <Text
      >Klient je v terapii zván k aktivnímu zapojení – k otevřenému sdílení svých myšlenek, emocí a zkušeností a k
      postupnému zkoušení nových pohledů či způsobů chování. Tyto změny mohou někdy přinést i dočasný pocit nepohody,
      který je však přirozenou součástí procesu a probíhá v bezpečném terapeutickém prostředí.</Text
    >
    <Text>
      Kognitivně-behaviorální terapie se zaměřuje především na současnost a na konkrétní obtíže, se kterými klient
      přichází. Společně se soustředíme na porozumění tomu, co potíže udržuje, stanovujeme srozumitelné a dosažitelné
      cíle a podporujeme rozvoj klientovy samostatnosti a vnitřních zdrojů.
    </Text>
    <Text
      >Základní myšlenkou KBT je přesvědčení, že to, co se člověk v průběhu života naučil, může také postupně změnit, či
      se to odnaučit.</Text
    >
  </Content>
</Layout>
