---

import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import Text from '../components/ui/Text.astro'
---

<Layout>
  <Content bg="white">
    <H1>Co je KBT terapie</H1>
    <Text>Ve své psychoterapeutické praxi využívám zejména rámec kognitivně-behaviorální terapie. Jedná se o strukturovaný a převážně direktivní směr terapie. Vztah mezi terapeutem a pacientem je vztahem vzájemné týmové spolupráce.</Text>
    <Text>Od pacienta se očekává, že bude k řešení svých těžkostí přistupovat aktivněji, bude otevřeně sdělovat a zaznamenávat své myšlenky, emoce a zážitky a bude ochoten zkoušet nové způsoby chování a myšlení, i za cenu přechodného zvýšení emoční nepohody.</Text>
    <Text>Pro KBT je charakteristické, že se zaměřuje na přítomnost, konkrétní, pozorovatelné, vědomé a ohraničené problémy. Zaměřuje se na faktory, které udržují problém, stanovuje formulovatelné a konkrétní cíle, směřuje k soběstačnosti klienta.</Text>
    <Text>Kognitivně-behaviorální terapie předpokládá, že co se člověk dokáže <i>„naučit“</i>, se dokáže také <i>„odnaučit“</i> (přejato z behaviorální terapie).</Text>
  </Content>
</Layout>