---
import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import Text from '../components/ui/Text.astro'
---

<Layout>
  <Content bg='white'>
    <H1>O mně</H1>
    <Text>
      Vystudovala jsem magisterský obor psychologie na&nbsp;Filozofické fakultě Univerzity Palackého v&nbsp;Olomouci.
      Za&nbsp;studií jsem působila 2 roky jako lektorka primární prevence a 3 roky jako krizová interventka
      na&nbsp;Lince důvěry v&nbsp;Praze a v&nbsp;Olomouci. V&nbsp;Národním ústavu duševního zdraví (NÚDZ) jsem jako
      asistent výzkumu na&nbsp;oddělení aplikovaných neurověd a zobrazení mozku pracovala s&nbsp;lidmi s OCD a se
      specifickými fóbiemi. Po&nbsp;škole jsem krátce pracovala na&nbsp;letišti v&nbsp;HR, kde jsem se věnovala náboru
      pracovníků do&nbsp;bezpečnostních složek. Poté jsem pracovala jako psycholožka v&nbsp;Pankrácké věznici.
    </Text>
    <Text>
      Od r. 2023 pracuji v&nbsp;ambulanci Klinické psychologie a psychoterapie v Praze, kde se věnuji především
      psychoterapiím a&nbsp;psychodiagnostickým vyšetřením. Pracuji pod pravidelnou supervizí a odborným vedením. Jsem
      zařazena do předatestační přípravy v oboru klinická psychologie při IPVZ v Praze. Ve své práci se setkávám
      s&nbsp;primárně s&nbsp;dospělými, ale i s&nbsp;dospívajícími a jejich rodiči.
    </Text>
    <Text>
      Ve své terapeutické praxi vycházím primárně z&nbsp;KBT přístupu, můj osobní přístup je ale spíše integrativní –
      využívám zkušenosti i z&nbsp;jiných směrů a přístupů. Kladu důraz na vzájemnou spolupráci terapeuta a klienta.
      Společně pracujeme na hledání řešení aktuálních potíží a&nbsp;jejich zvládání. Také se věnujeme souvislostem
      aktuálních problémů s dalšími důležitými aspekty života klienta, a tím i lepšímu pochopení toho, co se v&nbsp;jeho
      životě děje.
    </Text>
  </Content>
</Layout>
