---


import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import Text from '../components/ui/Text.astro'
---


<Layout>
  <Content bg="white">
    <H1>O mně</H1>
    <Text>
      Vystudovala jsem magisterský obor psychologie na Filozofické fakultě Univerzity Palackého v Olomouci. Za studií jsem působila 2 roky jako lektorka primární prevence a 3 roky jako krizová interventka na Lince důvěry v Praze a v Olomouci. V Národním ústavu duševního zdraví (NÚDZ) jsem jako asistent výzkumu na oddělení aplikovaných neurověd a zobrazení mozku pracovala s lidmi s OCD a se specifickými fóbiemi. Po škole jsem krátce pracovala na letišti v HR, kde jsem se věnovala náboru pracovníků do bezpečnostních složek. Poté jsem pracovala jako psycholožka v Pankrácké věznici.
    </Text>
    <Text>
      Od r. 2023 pracuji v ambulanci Klinické psychologie a psychoterapie v Praze, kde se věnuji především psychoterapiím a psychodiagnostickým vyšetřením. Pracuji pod pravidelnou supervizí a odborným vedením. Jsem zařazena do předatestační přípravy v oboru klinická psychologie při IPVZ v Praze. Ve své práci se setkávám s primárně s dospělými, ale i s dospívajícími a jejich rodiči.
    </Text>
    <Text>
      Ve své terapeutické praxi vycházím primárně z KBT přístupu, můj osobní přístup je ale spíše integrativní – využívám zkušenosti i z jiných směrů a přístupů. Kladu důraz na vzájemnou spolupráci terapeuta a klienta. Společně pracujeme na hledání řešení aktuálních potíží a jejich zvládání. Také se věnujeme souvislostem aktuálních problémů s dalšími důležitými aspekty života klienta, a tím i lepšímu pochopení toho, co se v jeho životě děje.
    </Text>
  </Content>
</Layout>