---
import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import Text from '../components/ui/Text.astro'
import H2 from '../components/ui/H2.astro'
---

<Layout>
  <Content bg='white'>
    <H1>O mně</H1>
    <div class='md:mb-20'>
      <Text>
        <img
          src='/img/about-1.webp'
          alt='Kateřina Taranzová'
          class='float-right ml-4 mb-2 w-full md:w-1/4 rounded-lg object-cover border-4 border-content-dark shadow-md'
        />
        Vystudovala jsem magisterský obor psychologie na Filozofické fakultě Univerzity Palackého v Olomouci. Za studií jsem
        působila jako lektorka primární prevence a jako krizová interventka na Lince důvěry v Praze a v Olomouci. V Národním
        ústavu duševního zdraví (NÚDZ) jsem jako asistent výzkumu na oddělení aplikovaných neurověd a zobrazení mozku pracovala
        s lidmi s OCD a se specifickými fóbiemi. Dále jsem pracovala jako psycholog ve zdravotnictví v ambulanci Klinické
        psychologie a psychoterapie v Praze, kde jsem se věnovala především psychoterapiím a psychodiagnostickým vyšetřením.
        Aktuálně pracuji v Pardubické krajské nemocnici na oddělení klinické psychologie, jako e-terapeut v programu Mindwell
        (online terapie) a v soukromé praxi. Pracuji pod pravidelnou supervizí a odborným vedením. Jsem zařazena do předatestační
        přípravy v oboru klinická psychologie při IPVZ v Praze.
      </Text>
      <Text>
        <img
          src='/img/about-2.webp'
          alt='Kateřina Taranzová'
          class='md:float-left mr-4 mb-2 w-full md:w-1/3 rounded-lg object-cover border-4 border-content-dark shadow-md'
        />
        Ve své terapeutické praxi vycházím primárně z KBT přístupu, můj osobní přístup je ale spíše integrativní – využívám
        zkušenosti i z jiných směrů a přístupů. Kladu důraz na vzájemnou spolupráci terapeuta a klienta. Společně pracujeme
        na hledání řešení aktuálních potíží a jejich zvládání. Také se věnujeme souvislostem aktuálních problémů s dalšími
        důležitými aspekty života klienta, a tím i lepšímu pochopení toho, co se v jeho životě děje.
      </Text>
    </div>
  </Content>
  <Content bg='dark'>
    <H2 class='text-left'>Vzdělání</H2>
    <ul class='list-inside mb-8'>
      <li class='mb-2'>
        <strong>2015 – 2021</strong>: jednooborová psychologie Univerzita Palackého v Olomouci (Mgr. titul)
      </li>
      <li class='mb-2'>
        <strong>2021 – současnost</strong>: psychoterapeutický výcvik v KBT (Mezinárodní institut KBT
        Odyssea; akreditován Českou psychoterapeutickou společností (ČPtS, pod vedením prof. MUDr. Jána Praška, CSc. a
        PhDr. et Mgr. Petra Štípka.)
      </li>
      <li class='mb-2'>
        <strong>2024</strong> – zařazení do předatestační přípravy v oboru klinická psychologie při Institutu postgraduálního
        vzdělávání ve zdravotnictví (IPVZ)
      </li>
    </ul>
  </Content>
  <Content bg='light'>
    <H2 class='text-left'>Kurzy</H2>
    <ul>
      <li class='mb-2'>2025 - Kurz OPD-2 (IKP)</li>
      <li class='mb-2'>2025 – Kurz MMPI-II (IKP)</li>
      <li class='mb-2'>2024 - Základní kurz v Rorschachově metodě (IKP)</li>
      <li class='mb-2'>2024 - WAIS III, Kresba stromu, Kresba postavy (Hogrefe)</li>
      <li class='mb-2'>2020 - Kurz Psycholog ve zdravotnictví (FF UPOL)</li>
      <li>2017 - Kurz kompletní krizové intervence (Déčko Liberec)</li>
    </ul>
  </Content>
</Layout>
