---

import FlipCard from './ui/FlipCard.astro'
import Text from './ui/Text.astro'

interface Props {
  icon: string
}

const { icon } = Astro.props
---

<FlipCard>
    <div slot="front">
      <div class="grid grid-rows-[70px_1fr] gap-4 h-full mt-10">
        <img src={`/icons/${icon}.webp`} alt="relationship" class="w-[70px] mx-auto max-h-[70px]"/>
        <Text class="text-sm text-center leading-[1.2rem]! mb-0"><slot name="front" /></Text>
      </div>
    </div>
    <div slot="back">
      <div class="leading-[1.2rem]! h-full flex items-center">
        <div class="text-sm text-center leading-[1.2rem]!"><slot name="back" /></div>
      </div>
    </div>
</FlipCard>