---
import Content from './ui/Content.astro'

const links: { href: string; label: string }[] = [
  { href: '/o-mne', label: 'O mně' },
  { href: '/kbt', label: 'KBT' },
  { href: '/cenik-a-informace', label: 'Ceník a informace' },
]
---

<div id="navbar" class="fixed z-40 top-0 text-white h-[100px] w-full backdrop-blur-md border-b-[#e7e7e7]">
  <div id="navbar__bg" class="w-full h-full opacity-70 backdrop-blur-xs transition-colors duration-500"></div>
  <nav class="absolute top-0 w-full h-full">
    <Content bg='transparent' class="py-0 w-full h-full">
      <div class="flex justify-between items-center h-full">
        <a href="/"> <strong class='inline-block text-lg text-content'>Logo</strong></a>
        <ul class="flex gap-6 text-md">
          {links.map(link => <li><a href={link.href} class="text-content font-semibold pb-1 pr-2 duration-200 border-b-2 border-b-transparent  hover:border-b-content hover:scale-105 inline-block">{link.label}</a></li> )}
        </ul>
      </div>
    </Content>
  </nav>
</div>

<script>
  const navbar = document.getElementById("navbar");
  const navbarBg = document.getElementById("navbar__bg");

  window.addEventListener("scroll", () => {
    console.log(window.scrollY)
    if (window.scrollY > 100) {
      navbar.classList.add("border-b")
      navbarBg.classList.add("bg-white");
    } else {
      navbar.classList.remove("border-b")
      navbarBg.classList.remove("bg-white");
    }
  });
</script>