---
import '../styles/global.css'
import Content from '../components/ui/Content.astro'
import Navigation from '../components/Navigation.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Kateřina Taranzová' />
    <meta name='author' content='Kateřina Taranzová' />
    <meta name='keywords' content='Kateřina Taranzová' />
    <meta property='og:title' content='Kateřina Taranzová' />
    <meta property='og:description' content='Kateřina Taranzová' />
    <meta property='og:image' content='/img/about.webp' />
    <meta property='og:url' content='https://abc.cz' />
    <meta property='og:site_name' content='www.abc.cz' />
    <meta property='og:type' content='website' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'
      rel='stylesheet'
    />
    <title>Kateřina Taranzová</title>
    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
  </head>
  <body>
    <div class='layout'>
      <Navigation />
      <div class='mt-[100px]'><slot /></div>
      <footer class='text-center bg-black'>
        <Content bg='transparent'>
          <strong class='inline-block text-lg mb-2 text-light'>sddsf</strong>
          <p class='text-light pb-6 border-b border-light'>sadaklsdhfjsdf j</p>
          <p class='text-sm pt-6 text-[#9e9e9e]'>
            © {new Date().getFullYear()} Kateřina Taranzová
          </p>
        </Content>
      </footer>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
