---
import '../styles/global.css'
import Content from '../components/ui/Content.astro'
import Navigation from '../components/Navigation.astro'
import Text from '../components/ui/Text.astro'
import CookieConsent from '../components/cookie-consent/CookieConsent.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Psychologie Kateřina Taranzová' />
    <meta name='author' content='Kateřina Taranzová' />
    <meta name='keywords' content='psychologie, psychoterapie, Kateřina Taranzová' />
    <meta property='og:title' content='Psychologie Kateřina Taranzová' />
    <meta property='og:description' content='Kateřina Taranzová, psychoterapie' />
    <meta property='og:image' content='https://www.psychologie-katka.cz/img/main.webp' />
    <meta property='og:url' content='https://www.psychologie-katka.cz' />
    <meta property='og:site_name' content='www.psychologie-katka.cz' />
    <meta property='og:type' content='website' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'
      rel='stylesheet'
    />
    <title>Psychologie Katka</title>
    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
    <!-- Google Tag Manager -->
    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-M9M4VP65')
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-M9M4VP65'
        height='0'
        width='0'
        style='display:none;visibility:hidden'></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div class='layout'>
      <Navigation />
      <div class='mt-[60px]'><slot /></div>
      <footer class='text-center bg-[#322e2b]'>
        <Content bg='transparent'>
          <div class='grid grid-cols-1 md:grid-cols-3 gap-4 border-b border-[#9e9e9e] pb-4'>
            <div class='text-left flex flex-col gap-2'>
              <strong class='text-light text-sm'>Kateřina Taranzová</strong>
              <div><p class='text-light text-sm'>IČO: 22294449</p></div>
            </div>
            <div class='text-left flex flex-col gap-2'>
              <strong class='text-light text-sm'>Kontaktní údaje</strong>
              <div>
                <div class='grid grid-cols-[20px_auto] gap-2 items-center'>
                  <img src='/icons/mail-white.svg' alt='E-mail' />
                  <p class='text-light text-sm'>
                    <a href='mailto:Katerina.taranzova@gmail.com' class='hover:underline'
                      >katerina.taranzova@gmail.com</a
                    >
                  </p>
                </div>
                <div class='grid grid-cols-[20px_auto] gap-2 items-center'>
                  <img src='/icons/phone.svg' alt='Telefon' />
                  <p class='text-light text-sm'>
                    <a href='tel:+420730104220' class='hover:underline'>+420 730 104 220</a>
                  </p>
                </div>
              </div>
            </div>
            <div class='text-left flex flex-col gap-2'>
              <strong class='text-light text-sm'>Adresa</strong>
              <div class='text-light text-sm'>
                <Text class='mb-0'>Myslíkova 1998/30</Text>
                <Text class='mb-0'>110 00</Text>
                <Text class='mb-0'>Praha – Nové Město</Text>
              </div>
            </div>
          </div>
        </Content>
        <p class='text-sm pb-12 text-[#9e9e9e]'>
          © {new Date().getFullYear()} Kateřina Taranzová
        </p>
      </footer>
    </div>
    <CookieConsent />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
