---
import { cn } from '../../utils/cn'
interface Props {
  class?: string
}

const { class: customClass } = Astro.props
---

<div
  class={cn('bg-white p-6 shadow-md shadow-[#f8f1e8] rounded-xl border border-[#ede4dc]  text-content', customClass)}
>
  <slot />
</div>
