---
import { cn } from '../../utils/cn'

type BgType = 'white' | 'light' | 'dark' | 'transparent'

interface Props {
  bg: BgType
  class?: string
  id?: string
  rowClass?: string
}

const { bg: bgValue, id, class: customClass, rowClass } = Astro.props

const bgMap: Record<BgType, string> = {
  white: 'bg-white',
  light: 'bg-content-light',
  dark: 'bg-content-dark',
  transparent: 'transparent',
}
---

<section class={cn(bgMap[bgValue], rowClass)} id={id}>
  <div class={cn('md:max-w-[800px] mx-auto py-12 px-8', customClass)}>
    <slot />
  </div>
</section>
