---
import { cn } from '../../utils/cn'

type BgType = 'white' | 'light' | 'dark' | 'transparent'

interface Props {
  bg: BgType
  class?: string
  id?: string
}

const { bg: bgValue, id, class: customClass } = Astro.props

const bgMap: Record<BgType, string> = {
  white: 'white',
  light: 'bg-light',
  dark: 'bg-dark text-white',
  transparent: 'transparent',
}
---

<section class={cn(bgMap[bgValue])} id={id}>
  <div class={cn('md:max-w-[768px] mx-auto py-12 px-8', customClass)}>
    <slot />
  </div>
</section>
