---
import Box from './Box.astro'
---

<div class='flip-card cursor-pointer' id='flip-card'>
  <div class='card-inner h-full w-full relative'>
    <Box class='card-front border-2 hover:border-primary duration-200'>
      <slot name='front' class='h-full' />
      <button
        type='button'
        id='flip-button'
        class='absolute top-[10px] right-[10px] cursor-pointer'
        aria-label='Otočit kartu'>
        <img class='w-[16px]' src='/icons/rotate.svg' alt='' />
      </button>
    </Box>
    <Box class='card-back bg-primary text-white border-dark/30'>
      <slot name='back' class='h-full' />
      <button
        type='button'
        id='flip-button'
        class='absolute top-[10px] right-[10px] cursor-pointer'
        aria-label='Otočit kartu'>
        <img class='w-[16px]' src='/icons/rotate_white.svg' alt='' />
      </button>
    </Box>
  </div>
</div>

<script>
  document.querySelectorAll('#flip-card').forEach((card) => {
    card.addEventListener('click', () => {
      card.closest('.flip-card')?.classList.toggle('is-flipped')
    })
  })
</script>
